.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  border-color: #fff;
}

.hidden-buttons {
  padding: 10px;
}

.hidden-buttons--home, .hidden-buttons--back {
  visibility: hidden;
  transition: 0.3s all;
  display: block;
  border: 1px solid #000;
  opacity: 0;
  box-shadow: 0 0 0 #fff;
  padding: 10px;

  > p, a {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.hidden-buttons:hover > span{
    visibility: visible;
    opacity: 1;
    box-shadow: 2px 2px 5px $shadow;
    background-color: #fff;
  }

